*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.clear{
    clear:both;
}
h1{
    font-size: 2.8rem;
}
h2{
    font-size: 8rem;
    padding: 5rem 0rem; 
}
a{
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
}
h3{
    font-size: 3.6rem;
}
button{
    font-size: 1.8rem;
}
nav{
    background: rgb(61, 81, 102);
    color: white;
    padding: 3rem;
}
nav h1{
    float: left;
}
nav ul{
    float: right;
    list-style: none;
}
nav li{
    float: left;
    margin: 0rem 4rem;
}
.hero-section{
    background-image: url("Legocover.jpg");
    height: 80rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: darkmagenta;
    padding-top: 15rem;
    text-shadow: 3px 3px 30px black;
}
#The_h3{
    color: black;
}
p{
    width: 50%;
    font-size: 2rem;
}
.about-section{
    text-align: center;
    
}
#about {
	padding: 40px;
	text-align: center;
}

#about p {
	max-width: 600px;
	margin: auto;
}
hr{
    height: 8rem;
    border-width: 0;
}
#about iframe{
    margin: 1.5rem;
}